<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :permissions %>
    <%= form.select :permissions, [['Admin',0], ['Hotel admin',1]] %>
    
  </div>

  <div class="field">
    <%= form.label :hotel_id %>
    <%= form.collection_select :hotel_id, @hotels, :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login, id: :user_login, :required => true %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password , :required => true%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
