<div class="header-text">
<p id="notice"><%= notice %></p>
<h1>Users</h1>
</div>
<div class="table-info">
<table class="table-show">
  <thead>
    <tr>
      <th>Permissionss</th>
      <th>Hotel</th>
      <th>Login</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.permissions > 0 %>
            Hotel admin
          <% else %>
              Admin
          <% end %>
        </td>
        <td><% if user.hotel_id %><%= @hotels.find(user.hotel_id).name %><% end %></td>
        <td><%= user.login %></td>
        <td>***</td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="link-button">
<%= link_to 'New User', new_user_path %>
</div>
</div>