<div class="header-text">
<p id="notice"><%= notice %></p>
</div>
<p>
<div class="panel">
<div class="panel-body">
  <strong>Permissions:</strong>
  <% if @user.permissions > 0 %>
    Hotel admin
  <% else %>
    Admin
  <% end %>
</p>

<p>
  <strong>Hotel:</strong>
  <% if @user.hotel_id %><%= @hotels.find(@user.hotel_id).name %><% end %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Password:</strong>
  <% if @user.password != '' %>***<% end %>
</p>
<div class="link-button">
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
</div>
</div>
</div>