<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :reservation_user_id %>
  </div>

  <div class="field">
    <%= form.label :hotel_id %>
    <%= form.number_field :hotel_id, id: :reservation_hotel_id %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.number_field :room_id, id: :reservation_room_id %>
  </div>

  <div class="field">
    <%= form.label :from %>
    <%= form.date_select :from, id: :reservation_from %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.date_select :to, id: :reservation_to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
