<div class="header-text">
<h1>Editing Reservation</h1>
</div>
<div class="panel">
<%= render 'form', reservation: @reservation %>

<%= link_to 'Show', @reservation %> |
<%= link_to 'Back', reservations_path %>
</div>
