<div class="header-text">
<p id="notice"><%= notice %></p>
<h1>Reservations</h1>
</div>
<div class="table-info">
<table class="table-show">
  <thead>
    <tr>
      <th>User</th>
      <th>Hotel</th>
      <th>Room</th>
      <th>From</th>
      <th>To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user_id %></td>
        <td><%= reservation.hotel_id %></td>
        <td><%= reservation.room_id %></td>
        <td><%= reservation.from %></td>
        <td><%= reservation.to %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="link-button">
<%= link_to 'New Reservation', new_reservation_path %>
</div>
</div>
