<div class="header-text">
<p id="notice"><%= notice %></p>
</div>
<div class="panel">
<div class="panel-body">
<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @reservation.hotel_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @reservation.room_id %>
</p>

<p>
  <strong>From:</strong>
  <%= @reservation.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @reservation.to %>
</p>
<div class="link-button">
<%= link_to 'Edit', edit_reservation_path(@reservation) %> 
<%= link_to 'Back', reservations_path %>
</div>
</div>
</div>
</div>