<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hotel_id %>
    <%= form.collection_select :hotel_id, @hotels, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.number_field :size, id: :room_size, :required => true %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :room_price, :required => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
