<div class="header-text">
<p id="notice"><%= notice %></p>

<h1>Rooms</h1>
</div>
<div class="table-info">
<table class="table-show">
  <thead>
    <tr>
      <th>Hotel</th>
      <th>Size</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= @hotels.find(room.hotel_id).name %></td>
        <td><%= room.size %></td>
        <td><%= room.price %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="link-button">
<%= link_to 'New Room', new_room_path %>
</div>
</div>