<div class="header-text">
<p id="notice"><%= notice %></p>
</div>
<div class="panel">
<div class="panel-body">
<p>
  <strong>Hotel:</strong>
  <%= @hotels.find(@room.hotel_id).name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @room.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>
<div class="link-button">
<%= link_to 'Edit', edit_room_path(@room) %>
<%= link_to 'Back', rooms_path %>
</div>
</div>
</div>