/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-size: 16px;
}

.header {
    background: #004D85;
    padding: 20px 0;
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    padding: 30px 0;
}

.header span {
    color: #F6B727;
    font-weight: 600;
}

.panel {
    width: 1000px;
    margin: 70px auto;
}

.panel input,
.panel select {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border: 0;
    padding: 5px;
}

.search-result {
    margin-bottom: 100px;
}

.search-result table {
    width: 1000px;
}

form {
    margin: 0 auto;
    width: 500px;
}

.panel input[type="submit"],
.link-button a {
    background: #F6B727;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    transition: 1s;
}

.panel input[type="submit"]:hover {
    transform: scale(1.05);
    transition: 1s;
}

.background-image {
    background: url('https://static.pexels.com/photos/346768/pexels-photo-346768.jpeg');
    background-size: cover;
    background-position: 50% 50%;
    padding: 90px 0;
    text-align: center;
}

.background-image h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: 25px 40px;
    font-size: 30px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.1);
}

.search-result table {
    margin: 0 auto;
}

.search-result thead,
.table-show thead {
    color: #F6B727;
}

.search-result h3,
.header-text {
    text-align: center;
    font-weight: 500;
}

.search-result td a,
.table-show td a,
.panel-body a {
    font-weight: 800;
    transition: 1s;
}

.search-result td a:hover,
.table-show td a:hover,
.panel-body li a:hover {
    background: transparent;
    color: #004D85;
    transform: scale(1.1);
    transition: 1s;
    display: block;
}

td {
    padding: 8px 30px;
    background: white;
}

th {
    padding: 8px 30px;
    background: #5f5f5f;
}

div,
p,
a,
ul,
li,
label,
input {
    box-sizing: border-box;
}

label {
    font-size: 16px;
    margin: 8px 0;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    background: transparent;
}

.table-show,
.panel-body {
    width: 100%;
    background: #fff;
    padding: 0px;
}

.link-button a {
    display: block;
    padding: 10px;
    margin: 5px;
    text-align: center;
    transition-duration: 1s;
}

.link-button a:hover {
    background: #004D85;
    transition: background;
    transition-duration: 1s;
}

.table-info {
    width: auto;
    margin: 30px 0;
    display: table;
    margin: 0 auto;
    background: #fff
}

footer {
    margin-top: 100px;
    width: 100%;
    background: gray;
}

p {
    padding: 20px 0;
    width: 1000px;
    margin: 0 auto;
    color: white;
}