<div class="panel">
<h1>Admin</h1>

<div class="panel-body">
<h3>Edit:</h3>

<ul>
    <li><%= link_to 'Hotels', hotels_path %></li>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Reservations', reservations_path %></li>
    <li><%= link_to 'Rooms', rooms_path %></li>
</ul>
<div class="link-button">
<%= link_to 'Logout', logout_path %>
</div>
</div>
</div>