<div class="header-text">
<h1>Hotel admin</h1>
</div>
<div class="table-info">
<table class="table-show">
        <thead>
            <th>ID</th>
            <th>Room</th>
            <th>From</th>
            <th>To</th>
        </thead>
        <tbody>
            <% @reservations.each do |r| %>
            <tr>
                <td><%= r.id %></td>
                <td><% if r.room_id %><%= @rooms.find(r.room_id).size %><% end %></td>
                <td><%= r.from %></td>
                <td><%= r.to %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <div class="link-button">
<%= link_to 'Logout', logout_path %>
</div>
</div>
