<div class="background-image">
<h1> Find Hotels & Unique Places to Stay </h1>
</div>
<div class="panel">
<%= form_tag "/", :method => 'get'  do %>
    <label for="city"> Destination, property name(city):*: 
        <%= text_field_tag :city, params[:city], :required => true  %>
     </label>
    <label for="from"> Check-in: 
        <%= date_field_tag :from, params[:from], :required => true, :min => @today  %>
    </label>
    <label for="to"> Check-out: 
        <%= date_field_tag :to, params[:to], :required => true, :min => @tomorrow %>
    </label>
  <%= submit_tag 'Search' %>
<% end %>
</div>

<% if @hotels.count > 0 %>
<div class="search-result">
<h3>Yes! we have something!</h3>
    <table>
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>City</th>
            <th>Postcode</th>
            <th>Address</th>
            <th>Rooms</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% @hotels.each do |hotel| %>

            <tr>
                <td><%= hotel.id %></td>
                <td><%= hotel.name %></td>
                <td><%= hotel.city %></td>
                <td><%= hotel.postcode %></td>
                <td><%= hotel.address %></td>
                <td><%= hotel.room.count %></td>
                <td> <a href="/show/<%= hotel.id %>/<%= @from %>/<%= @to %>">Show rooms</a> </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% end %>