  <div class="panel">
  <h1>Congratulations!</h1>
  <h2>Your room is reservated, we wait for You.</h2>
  <table class="table-show">
        <thead>
            <th>Reservation ID</th>
            <th>Check in</th>
            <th>Check out</th>
        </thead>
        <tbody>
        <tr>
  <td><%= @reservation.id %></td>
   <td><%= @from %></td>
    <td><%= @to %></td>
    </tr>
    </tbody>
    </table>
    </div>