<div class="panel">
<h1>Now available in <%= @hotel.name %> </h1>

<h2>Choose the room!</h2>
    <table class="table-show">
        <thead>
            <th>ID</th>
            <th>Size</th>
            <th>Price</th>
            <th>Status</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% @rooms.each do |room| %>
                <% @status = 'available' %>
                <% room.reservation.each do |date| %>
                    <% if date.from >= @from && date.to <= @to %>
                        <% @status = 'unavailable' %>
                    <% end %>
                <% end %>

                <tr>
                    <td><%= room.id %></td>
                    <td><%= room.size %></td>
                    <td><%= number_with_precision room.price, :precision => 0 %>  zł</td>
                    <td><span class="<%= @status %>"><%= @status %></span></td>
                    <td> 
                        <% if @status == 'available' %>
                            <a href="/new_reservation/<%= @hotel.id %>/<%= room.id %>/<%= @from %>/<%= @to %>">Book now</a> </td>
                        <% end %>
                    <tr>
                </tr>
            <% end %>
        </tbody>

    </table>
</div>