<div class="panel">
<h1>Logowanie</h1>

<p><%= @info %></p>

<%= form_tag do %>
    <div class="field">
        <%= label_tag(:login, "Login") %>
        <%= text_field_tag(:login) %>
    </div>

    <div class="field">
        <%= label_tag(:password, "Password") %>
        <%= password_field_tag(:password) %>
    </div>

    <%= submit_tag("Sign in") %>
<% end %>
</div>

