
<%= form_with(model: hotel, local: true) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :hotel_name, :required => true%>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :hotel_address, :required => true %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode, id: :hotel_postcode, :required => true %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :hotel_city, :required => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
