<div class="panel">
<div class="panel-body">
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @hotel.postcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @hotel.city %>
</p>
<div class="link-button">
<%= link_to 'Edit', edit_hotel_path(@hotel) %> 
<%= link_to 'Back', hotels_path %>
</div>
</div>
</div>