<!DOCTYPE html>
<html>
  <head>
    <title>Hotelsapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <div class="header">
    <a href="/">Travel<span>Booking</span>.com</a>
  </div>

  </header>
    <%= yield %>


    <footer><p>Copyright © 2018 by Jakub Dziadek, Adam Dyderski, Daniel Kozina, Robert Chachlowski. All rights reserved! </p><footer>
  </body>
</html>
